<div>
  <table>
  <tr *ngFor="let note of notes">
    <th class="jasmine-menu" (click)="showNote(note)">{{note.topic}}</th>
    <th><button (click)="deleteNote(note.id)">del</button></th>
    <div *ngIf="note.show">{{note.content}}</div>
  </tr>
  </table>
</div>
