<div>

  <h2>Exchanges by NBP (PL)</h2>
  <table>

    <tr>
      <td class="cell">
        Code
      </td>
      <td class="cell">
        Ask
      </td>
      <td class="cell">
        Bid
      </td>
    </tr>
    <tr *ngFor="let rate of rates" title="{{rate.currency}}">
      <td class="cell">{{rate.code}}</td>
      <td class="cell">{{rate.ask}}</td>
      <td class="cell">{{rate.bid}}</td>
    </tr>

  </table>
</div>
