<div>
  <h1>Projects</h1>
</div>
<div>Search:<br>
  <input type="text">
</div>
<div style=" float: left">
  <table>
    <tbody>
    <tr>
      <th>
        Number
      </th>
      <th>
        Topic
      </th>
      <th>
        Leader
      </th>
      <th>
        Finish date
      </th>
    </tr>

    <app-project *ngFor="let project of projects" [project]="project"></app-project>
    </tbody>
    <br>
  </table>

  <button (click)="changeShowCreator()" *ngIf="role=='DIRECTOR'">Create new</button>
</div>
<div style="float: left; margin-left: 150px">
  <app-create-projects *ngIf="showCreateProject"
                       (createProjectEmmiter)="getProjects()"></app-create-projects>
</div>
