<div style="vertical-align: top">

  <h2 style="align-content: center; margin-left: 200px">
    Hello<br>
    on your main Page
  </h2>
  <table>
    <tr style="vertical-align: top">
      <td>
        <h3>
          Links:
        </h3>
        <h4>
          <app-links [links]="loggedUser.links"></app-links>
        </h4>
        <button (click)="newWindow('newLink')">new link</button>

        <h3>
          Notes:
        </h3>
        <h4>
          <app-notes [notes]="loggedUser.notes"></app-notes>
        </h4>
        <button (click)="newWindow('newNote')">new note</button>
      </td>
      <td style="width: 100px"></td>
      <td>
        <div>
          <button (click)="newWindow('newPost')">Create new Post</button>
          <app-posts></app-posts>
        </div>
      </td>
      <td style="width: 200px"></td>
      <td>
        <app-weather></app-weather>
        <app-exchanges></app-exchanges>
      </td>
    </tr>


</table>


</div>
