<app-not-logged-user *ngIf="!loggedUser">
</app-not-logged-user>
<div *ngIf="loggedUser">
  <h2>Create new note</h2>
  <form>
    <table>
      <tr>
        <th>
          Topic:
        </th>
        <th>
          <input type="text" #topic>
        </th>
      </tr>
      <tr>
        <th>
          Content:
        </th>
        <th>
          <textarea #content>
          </textarea>
        </th>
      </tr>
    </table>
    <button (click)="createNote(topic.value, content.value)">Create</button>
  </form>
</div>
