<div *ngIf="!created">
<label>Receiver:</label>
  <br>
  <select #receiver>
    <option *ngFor="let receiver of receivers" value="{{receiver}}">{{receiver}}</option>
  </select>
  <br>
  <br>
  <label>Topic: </label>
  <br>
  <input type="text" #topic>
  <br>
  <br>
  <label>Content: </label>
  <br>
  <textarea rows="4" cols="50" #content></textarea>
  <br>
  <button (click)="send(receiver.value, topic.value, content.value)">Send</button>

</div>
<div *ngIf=" created" style=" color:red;">
  <h2>
    Sent
  </h2>
</div>
