<div style="margin-left: 30px;">
  <h3>Inbox</h3>
  <table>
    <tr>
      <th></th>
      <th>From</th>
      <th>Topic</th>
      <th>Time</th>
    </tr>
    <tr *ngFor="let message of messages" class="jasmine-menu" (click)="show(message)"
        [style.color]="!message.read ? 'red' : 'black'"
    >
      <th>
        <input type="checkbox" name="checkMessage"
        value="{{message.id}}"/>
      </th>
      <th>{{message.sender}}</th>
      <th>{{message.topic}}</th>
      <th>{{message.sendTime}}</th>
    </tr>
  </table>
  <br>
  <button (click)="deleteChosen()">Delete</button>
  <br>
  <br>
  <app-show-message *ngIf="showMessage" [message]="showMessage"></app-show-message>

</div>
