<div>
  <h1 style="color: red">
    You are not logged, go to another page
  </h1>
  <h2 style="color: red">
    <a routerLink="/registration">Registration</a>
    <br>
    <a routerLink="/login">Login</a>
  </h2>

</div>
