<div style=" text-align:  center">
  <h3>Posts in your team

    <br>
    <table align="center">
      <tr>
        <td>
          <a *ngIf="page>1" class="page"
             (click)="setPage(-1)"> <<Previous</a>
        </td>
        <td class="actual">
          {{page}}
        </td>
        <td>
          <a class="page" *ngIf="posts.length>0"
             (click)="setPage(1)">Next>></a>
        </td>
      </tr>
    </table>


  </h3>
  <div *ngFor="let post of posts">
<app-post-view [post]="post"></app-post-view>

  </div>

</div>
