<div>
  <h1>Hello in login page</h1>

  Select user to login as:<br>

<form>
  <select #selectedUsername>
    <option *ngFor="let username of usernames" value="{{username}}">{{username}}</option>
  </select><br>

  <button (click)="login(selectedUsername.value)">Login</button>


  </form>

</div>
