<div>
  <table>
    <tr>
 <th><label for="username">Username: </label>
      </th>
      <th>
      <input type="text" id="username">
      </th>
    </tr>
    <tr>
      <th>
 <label for="password">Password: </label>
      </th>
      <th>
      <input type="password" id="password">
      </th>
    </tr>
    <tr>
      <th>
 <label for="repeatedPassword">Repeat password: </label>
      </th>
      <th>
      <input type="password" id="repeatedPassword">
      </th>
    </tr>
  </table>
  <button>Sign up</button>
</div>
