<div style="background-color: aquamarine" xmlns="http://www.w3.org/1999/html">
  <table>
    <tr>
      <td>
        <h3>Weather</h3>
        <h5>{{weather.description}}</h5>
        <img *ngIf="icon" [src]="getImage()">
        <h4>{{weather.country}}
          <br>
          {{weather.city}}</h4>
      </td>
      <td>
          <input #city>
          <br>
          <button (click)="changeCity(city.value)">Change city</button>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
        <img src="https://img.icons8.com/material/96/000000/thick-arrow-pointing-up--v3.png"
             style="border-radius:50%;  transform: rotate({{weather.wind.deg}}deg)"/>
      </td>
    </tr>


  <tr>
    <td>


  <table>

    <tr>
      <td>Temperature min</td>
      <td>{{temp(weather.temperature.temp_min)}} C</td>
    </tr>
    <tr>
    <td>Temperature max</td>
    <td>{{temp(weather.temperature.temp_max)}} C</td>
    </tr>
    <tr>
      <td>Average temperature</td>
      <td>{{temp(weather.temperature.temp)}} C</td>
    </tr>
    <tr>
      <td>
        Feels like
      </td>
      <td>{{temp(weather.temperature.feels_like)}} C</td>
    </tr>
    <tr>
      <td>Pressure</td>
      <td>{{weather.temperature.pressure}} Pa</td>
    </tr>
    <tr>
      <td>Humidity</td>
      <td>{{weather.temperature.humidity}} %</td>
    </tr>
  </table>
    </td>
    <td>
      <table>
        <tr>
          <td style="font-weight: bold"> Wind</td>
        </tr>
        <tr>
          <td>Speed</td>
          <td>{{weather.wind.speed}} m/s</td>
        </tr>
        <tr>
        <td>Gust</td>
        <td>{{weather.wind.gust}} m/s</td>
        </tr>
        <tr>
          <td>Direction</td>
          <td>{{weather.wind.deg}} deg</td>
        </tr>

      </table>
    </td>
  </tr>
  </table>
</div>
