<app-not-logged-user *ngIf="!loggedUser">
</app-not-logged-user>
<div *ngIf="loggedUser">
  <h2>Create new link</h2>
  <form>
    <table>
    <tr>
      <th>
        Name:
      </th>
      <th>
        <input type="text" #name>
      </th>
    </tr>
      <tr>
        <th>
          Content:
        </th>
        <th>
          <textarea #content>
          </textarea>
        </th>
      </tr>
  </table>
    <button (click)="createLink(name.value, content.value)">Create</button>
  </form>
</div>
