<div>
  <br>
  <h5 style=" text-align: right">{{post.crateDateTime}}</h5>
  <a routerLink="post/{{post.id}}" target="_blank" class="topic">
    <h2 style=" line-height: 0">Topic: {{post.topic}}</h2>
  </a>

  <h5 style="line-height: 0">author: {{post.authorUserName}}</h5>
<br>
  <p class="shortDescription">{{post.content}}</p>

</div>

