
.shortDescription {
  max-height: 38px;
  max-width: 400px;
  text-align: left;
  overflow: hidden;
  text-overflow-ellipsis: elipsis;
}


.topic {
  color: black;
  text-decoration: none;
  background-color: aqua;
}
.topic :visited {
  color: black;
  text-decoration: none;
  background-color: aqua;
}
.topic :hover {
  background-color: grey;
}
