<div>
  <table>
  <tr *ngFor="let link of links">
    <th class="jasmine-menu">
    <a href="{{link.content}}" target="_blank">{{link.name}}</a>
    </th>
    <th>
    <button (click)="deleteLink(link.id)">del</button>
    </th>
  </tr>
</table>
</div>
