<div style="width: 600px">
  <h5 style=" text-align: right">{{post.crateDateTime}}</h5>
    <h2 style=" line-height: 0">Topic: {{post.topic}}</h2>


  <h5 style="line-height: 0">author: {{post.authorUserName}}</h5>
  <br>
  <p class="longDescription">{{post.content}}</p>

  <table>
    <tr>
      <td>
        <div *ngFor="let comment of post.comments">

          <app-comment-view [comment]="comment"></app-comment-view>
        </div>
      </td>
      <td style="width: 100px"></td>
      <td>
      <td style="vertical-align: top">
        <app-new-comment></app-new-comment>
      </td>
    </tr>
  </table>


</div>
