<div style="margin-left: 120px">
  <table>
    <tr>
  <td style=" vertical-align: top">
<br>
<button (click)="logout()">Log out</button>
<br>
<br>
  <span class="jasmine-menu" (click)="changePage('')">
    User : {{loggedUser.username}}<br>
    Role: {{loggedUser.role}}<br>
    <br>
  </span>
  <span class="jasmine-menu" (click)="changePage('messages')">Messages</span>
  <span  class="jasmine-menu" (click)="changePage('projects')">Projects</span>
  <span class="jasmine-menu" (click)="changePage('registry')">Registry</span>
  <span class="jasmine-menu" (click)="changePage('absences')">Absences</span>
  <span class="jasmine-menu" (click)="changePage('userManager')"
   *ngIf="role=='DIRECTOR'">user manager</span>
  </td>
      <td style="width: 350px"></td>
      <td style=" vertical-align: top">
          <span>

  </span>
      </td>
    </tr>
  </table>

  <div>
<router-outlet></router-outlet>
</div>

</div>
