<div style="margin-left: 30px;">
  <h3>Outbox</h3>
  <table>
    <tr>
      <th></th>
      <th>To</th>
      <th>Topic</th>
      <th>Time</th>
    </tr>
    <tr *ngFor="let message of messages" class="jasmine-menu" (click)="show(message)">
      <th>
        <input type="checkbox" name="checkMessage" value="{{message.id}}" t>
      </th>
      <th>{{message.receiver}}</th>
      <th>{{message.topic}}</th>
      <th>{{message.sendTime}}</th>
    </tr>
  </table>
  <br>
  <button (click)="deleteChosen()">Delete</button>
  <br>
  <br>
  <app-show-message *ngIf="showMessage" [message]="showMessage"></app-show-message>
</div>
