<div><h1>Messages</h1></div>
<div style="float: left">

  <table>
<tr class="jasmine-menu"(click)="setContent('newMessage')" > New Message</tr>
<tr class="jasmine-menu" (click)="setContent('inbox')" id="inBoxRow"> Inbox</tr>
<tr class="jasmine-menu" (click)="setContent('outbox')"> Outbox</tr>
  </table>
</div>
<div style="float: left">
<router-outlet></router-outlet>
</div>
<div style="clear: both"></div>
