<tr (click)="changeShow()" class="jasmine-menu">
  <th>
    {{project.number}}
  </th>
  <th>
    {{project.topic}}
  </th>
  <th>
    {{project.leader}}
  </th>
  <th>
    {{project.finishDate}}
  </th>
</tr>
<tr *ngIf="showContent"><th>  {{project.description}}</th> </tr>
<br>
