<div style="float:  left" *ngIf="!created">

  <form>
    Type of Project: <select #selectedPrefix>
    <option *ngFor="let prefix of prefixes" value="{{prefix}}">{{prefix}}</option>
  </select><br>

    Leader: <select #selectedUsername>
    <option *ngFor="let username of usernames" value="{{username}}">{{username}}</option>
  </select><br>
    Topic: <INPUT type="text" #topic>
    <br>
    FinishDate: <input type="date" #finishDate><br>
    Description:
    <br>
    <textarea rows="4" cols="50" #description></textarea>
    <br>
    <button (click)="createProject(selectedPrefix.value,
    selectedUsername.value,
    topic.value,
    finishDate.value,
    description.value)">Create
    </button>
  </form>
</div>
<div *ngIf="created" style="color: red">
  <h2>
    Created
  </h2>
</div>
<div style="clear: both"></div>
