.jasmine-menu {
  background-color: aqua;
  cursor: pointer;
  margin: 2px;
  text-align: center;
}
.jasmine-menu:hover {
  background-color: grey;
  cursor: pointer;
  margin: 2px;
}

.shortDescription {
  max-height: 38px;
  max-width: 400px;
  text-align: left;
  overflow: hidden;
  text-overflow-ellipsis: elipsis;
}

.longDescription {
  max-width: 400px;
  text-align: left;
}
.topic {
  color: black;
  text-decoration: none;
  background-color: aqua;
}
.topic :visited {
  color: black;
  text-decoration: none;
  background-color: aqua;
}
.topic :hover {
  background-color: grey;
}
