<div>
  <table>
    <tr>
      <th>Send time:</th>
      <th>{{message.sendTime}}</th>
    </tr>
    <tr>
      <th>From:</th>
      <th>{{message.sender}}</th>
    </tr>
    <tr>
      <th>To:</th>
      <th>{{message.receiver}}</th>
    </tr>
    <tr>
      <th>Topic:</th>
      <th>{{message.topic}}</th>
    </tr>
    <tr>
      <th>Content:</th>
      <th>{{message.content}}</th>
    </tr>
  </table>

</div>
